#premierP
{
    border: 5px solid red;
    padding: 10px;
    display: inline-block;

        width: 200px;
}

nav a{
    border: 5px solid red;
}
body{
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap" rel="stylesheet">
}